nav{
  position: fixed;
}
.nav_sec{
	box-shadow: 1px 1px 10px rgba(53, 53, 53, 0.8);
}
.aclass {
  padding: 10px 20px;
}
.nav-item > a{
  padding: 8px 25px;
  text-decoration: none;
  background: transparent;
  color: #eaded2;
}
.nav-item>link {
  padding: 8px 25px;
  text-decoration: none;
  background: transparent;
  color: #eaded2;
}